

<h1>Election Page</h1>

<div style="display:flex; justify-content:end;">
    <div>
        <span>
            <i class="bi bi-plus-circle" style="font-size:70px; color:green; cursor:pointer" onclick="location.href='@Url.Action("Create", "Election")'"></i>
        </span>
    </div>
</div>

<hr />