################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Vote-Application_JonathanMutala/FileContentIndex/3b570dea-d275-4e4f-9249-4e2f7b9c2392.vsidx
/.vs/Vote-Application_JonathanMutala/FileContentIndex/8790b652-8261-4d4d-b40b-6fdae2be0f17.vsidx
/.vs/Vote-Application_JonathanMutala/FileContentIndex/b10a4713-1618-43ef-98cb-56dec45b680b.vsidx
/.vs/Vote-Application_JonathanMutala/FileContentIndex/e9349cb1-5a21-4fb2-8965-e288d331c672.vsidx
/.vs/Vote-Application_JonathanMutala/v17/.suo
/.vs/Vote-Application_JonathanMutala/FileContentIndex/02e6fefe-2bde-405c-99c9-74137387cc67.vsidx
/.vs/Vote-Application_JonathanMutala/FileContentIndex/19adf08a-a0ef-4687-8385-2051cd56bfb5.vsidx
/.vs/Vote-Application_JonathanMutala/FileContentIndex
/bin/Debug/net6.0/en/Vote-Application_JonathanMutala.resources.dll
/bin/Debug/net6.0/fr/Vote-Application_JonathanMutala.resources.dll
/bin/Debug/net6.0/Vote-Application_JonathanMutala.deps.json
/bin/Debug/net6.0/Vote-Application_JonathanMutala.dll
/bin/Debug/net6.0/Vote-Application_JonathanMutala.exe
/bin/Debug/net6.0/Vote-Application_JonathanMutala.pdb
/obj/Debug/net6.0/en/Vote-Application_JonathanMutala.resources.dll
/obj/Debug/net6.0/fr/Vote-Application_JonathanMutala.resources.dll
/obj/Debug/net6.0/ref/Vote-Application_JonathanMutala.dll
/obj/Debug/net6.0/refint/Vote-Application_JonathanMutala.dll
/obj/Debug/net6.0/apphost.exe
/obj/Debug/net6.0/Vote-Application_JonathanMutala.csproj.FileListAbsolute.txt
/obj/Debug/net6.0/Vote-Application_JonathanMutala.csproj.GenerateResource.cache
/obj/Debug/net6.0/Vote-Application_JonathanMutala.dll
/obj/Debug/net6.0/Vote-Application_JonathanMutala.pdb
/obj/Debug/net6.0/Vote-Application_JonathanMutala.sourcelink.json
/obj/Debug/net6.0/Vote_Application_JonathanMutala.Ressources.Resource.en.resources
/obj/Debug/net6.0/Vote_Application_JonathanMutala.Ressources.Resource.fr.resources
/.vs/ProjectEvaluation/vote-application_jonathanmutala.metadata.v7.bin
/.vs/ProjectEvaluation/vote-application_jonathanmutala.projects.v7.bin
/.vs/ProjectEvaluation/vote_application_jonathanmutala.metadata.v7.bin
/.vs/ProjectEvaluation/vote_application_jonathanmutala.projects.v7.bin
/.vs/Vote-Application_JonathanMutala/FileContentIndex/2a866060-4dc4-4db8-9605-4a6aae7644aa.vsidx
/.vs/Vote-Application_JonathanMutala/FileContentIndex/432c15b2-c05d-4670-bc77-260a335502a6.vsidx
/.vs/Vote-Application_JonathanMutala/FileContentIndex/54962762-f467-4881-aebe-a79e1f491d1e.vsidx
/.vs/Vote-Application_JonathanMutala/FileContentIndex/817e6d28-4ac4-4d63-a5bc-caf826fb9b99.vsidx
/.vs/Vote-Application_JonathanMutala/FileContentIndex/82fbf5e6-9ecf-4753-a581-9fd56b925c1c.vsidx
/.vs/Vote-Application_JonathanMutala/FileContentIndex/ecc875dc-b4d0-45f3-924d-5f6400d1210c.vsidx
/.vs/Vote-Application_JonathanMutala/DesignTimeBuild/.dtbcache.v2
/.vs/Vote-Application_JonathanMutala/v17/.futdcache.v2
*.config
*.v2
*.vsidx
*.suo
*.dll
/bin/Debug/net6.0/Vote-Application_JonathanMutala.staticwebassets.runtime.json
/bin/Debug/net6.0/Vote_Application_JonathanMutala.deps.json
/bin/Debug/net6.0/Vote_Application_JonathanMutala.exe
/bin/Debug/net6.0/Vote_Application_JonathanMutala.pdb
/bin/Debug/net6.0/Vote_Application_JonathanMutala.runtimeconfig.json
/bin/Debug/net6.0/Vote_Application_JonathanMutala.staticwebassets.runtime.json
*.css
/obj/Debug/net6.0/Vote_Application_JonathanMutala.AssemblyInfo.cs
/obj/Debug/net6.0/Vote_Application_JonathanMutala.AssemblyInfoInputs.cache
/obj/Debug/net6.0/Vote_Application_JonathanMutala.csproj.GenerateResource.cache
/obj/Debug/net6.0/Vote_Application_JonathanMutala.pdb
/obj/Debug/net6.0/Vote_Application_JonathanMutala.sourcelink.json
/obj/Debug/net6.0/Vote_Application_JonathanMutala.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0/Vote_Application_JonathanMutala.csproj.FileListAbsolute.txt
/obj/Debug/net6.0/Vote_Application_JonathanMutala.Resources.Controllers.ElectionController.resources
/obj/Debug/net6.0/Vote_Application_JonathanMutala.Ressources.Controllers.ElectionController.en.resources
/obj/Debug/net6.0/Vote_Application_JonathanMutala.Ressources.Controllers.ElectionController.fr.resources
